<div class="col s10">
    <form class="contact-form" {{action 'save'  model on='submit'}}>
        <h4>Contact Create Form</h4>

        {{md-input value=model.firstName label='First Name'}}

        {{md-input value=model.lastName label='Last Name'}}

        {{md-input value=model.officeNumber label='Office Number'}}

        {{md-input value=model.cellNumber label='Cell Number'}}

        {{md-input value=model.email label='email'}}

        {{md-input value=model.address1 label='Address 1'}}

        {{md-input value=model.address2 label='Address 2'}}

        {{md-input value=model.city label='city'}}

        {{md-input value=model.state label='State'}}

        {{md-input value=model.zip label='Zip'}}

        {{md-input value=model.organization label='Public Org'}}

        {{md-btn-submit icon='mdi-content-send' iconPosition='right' text='Submit'}}
    </form>
</div>
{{outlet}}
