<div class="col s10">
    {{#link-to "tracker.contacts.create"}}
        {{md-btn icon='fa fa-plus' action='debug' buttonType='floating' class='btn-large add-contact'}}
    {{/link-to}}
    {{#each model as |contact|}}
        {{#md-card title=contact.fullName class="contact-card"}}
            {{#md-card-content}}
                <ul>
                    <li>{{contact.officeNumber}}</li>
                    <li>{{contact.cellNumber}}</li>
                    <li>{{contact.email}}</li>
                    <li>{{contact.addressOne}}</li>
                    <li>{{contact.addressTwo}}</li>
                    <li>{{contact.city}}</li>
                    <li>{{contact.state}}</li>
                    <li>{{contact.zip}}</li>
                </ul>
            {{/md-card-content}}
            {{#md-card-action}}
                <a href="mailto:{{contact.email}}">{{contact.email}}</a>
                {{#link-to "tracker.profile"}}
                    {{contact.organization}}
                {{/link-to}}
            {{/md-card-action}}
        {{/md-card}}
    {{/each}}
</div>

{{outlet}}
