<div class="col s11">
    <form class="org-form" {{action 'save' model on='submit'}}>
        <h4>Contact Create Form</h4>

        {{md-input value=model.name label='name'}}

        {{md-input value=model.address1 label='Address 1'}}

        {{md-input value=model.address2 label='Address 2'}}

        {{md-input value=model.city label='City'}}

        {{md-input value=model.state label='State'}}

        {{md-input value=model.zip label='Zip'}}

        {{md-input value=model.website label='Website'}}

        {{md-input value=model.email label='Email'}}

        {{md-input value=model.phone label='Phone'}}

        {{md-btn-submit icon='mdi-content-send' iconPosition='right' text='submit'}}
    </form>
</div>
{{outlet}}
