<header>
<nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo">Iron Clad Jobs</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons"><i class="fa fa-bars"></i></i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="sass.html">Sass</a></li>
        <li><a href="badges.html">Components</a></li>
        <li><a href="collapsible.html">Javascript</a></li>
        <li><a href="mobile.html"><i class="fa fa-bars"></i></a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="sass.html">Sass</a></li>
        <li><a href="badges.html">Components</a></li>
        <li><a href="collapsible.html">Javascript</a></li>
        <li><a href="mobile.html"><i class="fa fa-bars"></i></a></li>
      </ul>
    </div>
</nav>
</header>

<main>
    {{outlet}}

    {{md-modal-container}}
</main>

<footer class="page-footer">
  <div class="footer-container container">
    <div class="row">
      <div class="col l4 s12">
        <h5 class="white-text">Potential Jobs</h5>
          <ul class="job-status">
            <li><a class="grey-text text-lighten-3" href="#!">Potential Job</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Potential Job</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Potential Job</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Potential Job</a></li>
          </ul>
      </div>
      <div class="col l4 s12">
        <h5 class="white-text">Contact</h5>
        {{#if modalIsOpen}}
            {{#md-modal close='closeModal' class="test-modal"}}
                <div class="modal-content">
                    <h4>Ohai there!</h4>
                    <p>Star ember-cli-materialize if you love it on
                    <a href="https://github.com/truenorth/ember-cli-materialize">github</a>!
                    </p>
                </div>
                <div class="modal-footer">
                    <a class="modal-action modal-close waves-effect waves-orange btn-flat agree-button" {{action 'agree'}}>
                        Done!
                    </a>
                    <a class="modal-action modal-close waves-effect waves-red btn-flat cancel-button" {{action 'closeModal'}}>
                        Cancel
                    </a>
                </div>
            {{/md-modal}}
        {{/if}}
      </div>
      <div class="col l4 s12">
        <h5 class="white-text">Status</h5>
        <ul class="job-status">
          <li><a class="grey-text text-lighten-3" href="#!">
            {{md-select content=frameworks
            value=framework
            prompt="Status"}}
          </a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2015 Copyright Iron Clad Jobs "Dodging bazookas since 1942!"
    </div>
  </div>
</footer>
